.hamburger_active {
    transition: .3s ease-in-out;
}

.hamburger_active .hamburger__bar:nth-child(2) {
    opacity: 0;
}
.hamburger_active .hamburger__bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
}
.hamburger_active .hamburger__bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
}