.header {
    width: calc(100% - 270px);
    height: 300px;
    margin: 0 135px;
    background: #FFF;
    display: flex;
    flex-direction: column;
}

@media screen and (max-width: 1439px) {
    .header {
        margin: 0;
        width: 100%;
    }
}