.overlay__item {
    margin-bottom: 25px;
    max-width: 126px;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: -0.01em;
    color: #FFFFFF;
    transition: .3s linear;
    text-align: right;
}