.schedule__region-text {
    margin: 0;
    width: 43px;
    height: 14px;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: -0.01em;
    color: #252525;
}