.menu__navbar {
    display: flex;
    height: 22px;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    border-bottom: 1px solid #D7D7D7;
    padding-bottom: 8px;
    margin: 16px 0 0 30px;
}